# Ignore virtual environment
venv/
.venv/

# Ignore compiled Python files
__pycache__/
*.py[cod]
*.so

# Ignore logs
*.log

# Ignore environment files
.env

# Ignore Jupyter notebooks checkpoint files
.ipynb_checkpoints/

# Ignore MacOS system files
.DS_Store

venv/
._*
